[Desktop Entry]
Name=Korora
X-KDE-PluginInfo-Name=Korora
X-KDE-PluginInfo-Author=Korora Project
X-KDE-PluginInfo-Email=dev@kororaproject.org
X-KDE-PluginInfo-License=CC-BY-SA

