[Desktop Entry]
Name=Heisenbug
X-KDE-PluginInfo-Name=Heisenbug
X-KDE-PluginInfo-Author=Fedora Project
X-KDE-PluginInfo-Email=fedora-kde@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA

