[Desktop Entry]
Name=Abstract Lines (Korora Supplemental)
X-KDE-PluginInfo-Name=Abstract Lines (Korora Supplemental)
X-KDE-PluginInfo-Author=tonet666p
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC0 1.0
