[Desktop Entry]
Name=Aloe Bursting (F23 Supplemental)
X-KDE-PluginInfo-Name=Aloe Bursting (F23 Supplemental)
X-KDE-PluginInfo-Author=Greg Holden
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
