[Desktop Entry]
Name=Argentina Glacier (F24 Supplemental)
X-KDE-PluginInfo-Name=Argentina Glacier (F24 Supplemental)
X-KDE-PluginInfo-Author=wesleyotugo
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC0 1.0
