[Desktop Entry]
Name=Baatara Sinkhole (Korora Supplemental)
X-KDE-PluginInfo-Name=Baatara Sinkhole (Korora Supplemental)
X-KDE-PluginInfo-Author=Jonathan Dieter
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
