[Desktop Entry]
Name=Balloons Aloft (Korora Supplemental)
X-KDE-PluginInfo-Name=Balloons Aloft (Korora Supplemental)
X-KDE-PluginInfo-Author=stevenpink
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC0 1.0
