[Desktop Entry]
Name=Beautiful Colourful houses in The Netherlands (Korora Supplemental)
X-KDE-PluginInfo-Name=Beautiful Colourful houses in The Netherlands (Korora Supplemental)
X-KDE-PluginInfo-Author=Skitterphoto
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC0 1.0
