[Desktop Entry]
Name=Blue Deep (F24 Supplemental)
X-KDE-PluginInfo-Name=Blue Deep (F24 Supplemental)
X-KDE-PluginInfo-Author=alyaj2a
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=Free Art 1.3
