[Desktop Entry]
Name=Blue Windmill (Korora Supplemental)
X-KDE-PluginInfo-Name=Blue Windmill (Korora Supplemental)
X-KDE-PluginInfo-Author=jurankdankkal
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC-BY 3.0
