[Desktop Entry]
Name=blue dream-1 (F23 Supplemental)
X-KDE-PluginInfo-Name=blue dream-1 (F23 Supplemental)
X-KDE-PluginInfo-Author=ali4129
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
