[Desktop Entry]
Name=By the lake (F24 Supplemental)
X-KDE-PluginInfo-Name=By the lake (F24 Supplemental)
X-KDE-PluginInfo-Author=http://zoommyapp.com
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC0 1.0
