[Desktop Entry]
Name=Cairn at Quoddy (F23 Supplemental)
X-KDE-PluginInfo-Name=Cairn at Quoddy (F23 Supplemental)
X-KDE-PluginInfo-Author=anyjdoe3713
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
