[Desktop Entry]
Name=Close Up of a Flower (F23 Supplemental)
X-KDE-PluginInfo-Name=Close Up of a Flower (F23 Supplemental)
X-KDE-PluginInfo-Author=Vineet Tuli
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
