[Desktop Entry]
Name=Colza (Korora Supplemental)
X-KDE-PluginInfo-Name=Colza (Korora Supplemental)
X-KDE-PluginInfo-Author=harald
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
