[Desktop Entry]
Name=Corn (Korora Supplemental)
X-KDE-PluginInfo-Name=Corn (Korora Supplemental)
X-KDE-PluginInfo-Author=Harald Hoyer
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
