[Desktop Entry]
Name=dandelion (Korora Supplemental)
X-KDE-PluginInfo-Name=dandelion (Korora Supplemental)
X-KDE-PluginInfo-Author=andyfitz
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
