[Desktop Entry]
Name=Dawn Panama Cinta Costera (F23 Supplemental)
X-KDE-PluginInfo-Name=Dawn Panama Cinta Costera (F23 Supplemental)
X-KDE-PluginInfo-Author=lbazan
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
