[Desktop Entry]
Name=Flame Robin at Woodlands (F23 Supplemental)
X-KDE-PluginInfo-Name=Flame Robin at Woodlands (F23 Supplemental)
X-KDE-PluginInfo-Author=aviceda
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
