[Desktop Entry]
Name=Florida Coast (Korora Supplemental)
X-KDE-PluginInfo-Name=Florida Coast (Korora Supplemental)
X-KDE-PluginInfo-Author=afsilva
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
