[Desktop Entry]
Name=Fog (F23 Supplemental)
X-KDE-PluginInfo-Name=Fog (F23 Supplemental)
X-KDE-PluginInfo-Author=Ondra Brém
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
