[Desktop Entry]
Name=Gardalini (Korora Supplemental)
X-KDE-PluginInfo-Name=Gardalini (Korora Supplemental)
X-KDE-PluginInfo-Author=jurankdankkal
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
