[Desktop Entry]
Name=Genesee River Lighthouse (F23 Supplemental)
X-KDE-PluginInfo-Name=Genesee River Lighthouse (F23 Supplemental)
X-KDE-PluginInfo-Author=jsmith
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
