[Desktop Entry]
Name=Iceberg in greenland (F24 Supplemental)
X-KDE-PluginInfo-Name=Iceberg in greenland (F24 Supplemental)
X-KDE-PluginInfo-Author=lhirlimann
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 4.0
