[Desktop Entry]
Name=Jellyfish (F24 Supplemental)
X-KDE-PluginInfo-Name=Jellyfish (F24 Supplemental)
X-KDE-PluginInfo-Author=Allan Lyngby Lassen
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 4.0
