[Desktop Entry]
Name=Laguna Del Inca (Korora Supplemental)
X-KDE-PluginInfo-Name=Laguna Del Inca (Korora Supplemental)
X-KDE-PluginInfo-Author=cleide14
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
