[Desktop Entry]
Name=Miami Nightlife (Korora Supplemental)
X-KDE-PluginInfo-Name=Miami Nightlife (Korora Supplemental)
X-KDE-PluginInfo-Author=Jared Smith
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
