[Desktop Entry]
Name=mistogan (F24 Supplemental)
X-KDE-PluginInfo-Name=mistogan (F24 Supplemental)
X-KDE-PluginInfo-Author=espasmo
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC0 1.0
