[Desktop Entry]
Name=Momiji (F23 Supplemental)
X-KDE-PluginInfo-Name=Momiji (F23 Supplemental)
X-KDE-PluginInfo-Author=dking
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY 3.0
