[Desktop Entry]
Name=Morning Dew on Leaves (F24 Supplemental)
X-KDE-PluginInfo-Name=Morning Dew on Leaves (F24 Supplemental)
X-KDE-PluginInfo-Author=sethtrei
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 4.0
