[Desktop Entry]
Name=Moscow in night (F23 Supplemental)
X-KDE-PluginInfo-Name=Moscow in night (F23 Supplemental)
X-KDE-PluginInfo-Author=ignatenkobrain
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC0 1.0
