[Desktop Entry]
Name=Night (F23 Supplemental)
X-KDE-PluginInfo-Name=Night (F23 Supplemental)
X-KDE-PluginInfo-Author=Sebastian Bota
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=FAL 1.3
