[Desktop Entry]
Name=Paisaje (F24 Supplemental)
X-KDE-PluginInfo-Name=Paisaje (F24 Supplemental)
X-KDE-PluginInfo-Author=diegoestrada
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC0 1.0
