[Desktop Entry]
Name=Small river shot in beatifull High Dynamic Range with great colours (Korora Supplemental)
X-KDE-PluginInfo-Name=Small river shot in beatifull High Dynamic Range with great colours (Korora Supplemental)
X-KDE-PluginInfo-Author=Skitterphoto
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC0 1.0
