[Desktop Entry]
Name=Sunrise in Florida II (F24 Supplemental)
X-KDE-PluginInfo-Name=Sunrise in Florida II (F24 Supplemental)
X-KDE-PluginInfo-Author=afsilva
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 4.0
