[Desktop Entry]
Name=The Moon (F23 Supplemental)
X-KDE-PluginInfo-Name=The Moon (F23 Supplemental)
X-KDE-PluginInfo-Author=Vineet Tuli
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 3.0
