[Desktop Entry]
Name=Tree in Winter (F24 Supplemental)
X-KDE-PluginInfo-Name=Tree in Winter (F24 Supplemental)
X-KDE-PluginInfo-Author=Franz Dietrich
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 4.0
