[Desktop Entry]
Name=Water drop close up (Korora Supplemental)
X-KDE-PluginInfo-Name=Water drop close up (Korora Supplemental)
X-KDE-PluginInfo-Author=Skitterphoto
X-KDE-PluginInfo-Email=team@kororaproject.org
X-KDE-PluginInfo-License=CC0 1.0
