[Desktop Entry]
Name=zen (F24 Supplemental)
X-KDE-PluginInfo-Name=zen (F24 Supplemental)
X-KDE-PluginInfo-Author=hhlp
X-KDE-PluginInfo-Email=fedora-design@lists.fedoraproject.org
X-KDE-PluginInfo-License=CC-BY-SA 4.0
